@model OrchardHUN.TrainingDemo.Models.YouTubeEmbedField

<fieldset>
    <div class="editor-label">
        <label for="@Html.FieldIdFor(m => m.VideoId)">@T("YouTube video ID")</label>
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.VideoId, new { @class = "text" })
        @Html.Hint(T("ID of a YouTube video, usually 11 characters."))
        @*Notice the class hint. It's a built-in CSS class to format hint texts.*@
    </div>
</fieldset>

@* NEXT STATION: Views/Fields.YouTubeEmbed.cshtml *@