@* This is a very similar display shape for the Book object, however, this one will be used only if the display type is
Description. The zone-related properties of the Model objects will be populated accordingly. *@

<div class="book">
    @* Display Header zone if there is any shape placed in the zone. Remember that since Title and Author shapes have
    no display type property given in the Driver these will also be rendered here. This way you can reuse any shapes
    you want in Orchard Core! *@ 
    @if (Model.Header != null)
    {
        <header class="bookHeader">
            @await DisplayAsync(Model.Header)
        </header>
    }
    
    @* Display Content zone if there is any shape placed in the zone. *@
    @if (Model.Content != null)
    {
        <div class="bookContent">
            @await DisplayAsync(Model.Content)
        </div>
    }
</div>

@* NEXT STATION: Go to Controllers/DatabaseStorageController *@