@model Lombiq.TrainingDemo.ViewModels.DisplayColorFieldViewModel
@using OrchardCore.Mvc.Utilities;

@{
    var name = (Model.PartFieldDefinition.PartDefinition.Name + "-" + Model.PartFieldDefinition.Name).HtmlClassify();
    var hex = Model.Field.Value;
    if (!hex.StartsWith("#"))
    {
        hex = $"#{hex}";
    }
}

<div class="field field-type-colorfield field-name-@name">
    <span style="color: @hex;">@Model.Field.ColorName</span>
</div>