@model Lombiq.TrainingDemo.ViewModels.EditColorFieldViewModel
@using Lombiq.TrainingDemo.Settings;
@using OrchardCore.ContentManagement.Metadata.Models

@{
    // In editor shapes you can access the settings from the PartFieldDefinition.Settings. Since it contains all the
    // settings you need to extract your own settings object. After that you can use it to display hint for example.

    var settings = Model.PartFieldDefinition.Settings.ToObject<ColorFieldSettings>();
}

<fieldset class="form-group">
    <legend>@Model.PartFieldDefinition.DisplayName()</legend>

    <label asp-for="ColorName">@T["Color name"]</label>
    <input asp-for="ColorName" class="form-control content-preview-text" />

    <label asp-for="Value">@T["Hexadecimal value"]</label>
    <input asp-for="Value" class="form-control content-preview-text" />
    @if (!String.IsNullOrEmpty(settings.Hint))
    {
        <span class="hint">@settings.Hint</span>
    }
</fieldset>

@* NEXT STATION: Drivers/ColorFieldDriver and find the UpdateAsync method where we left. *@