@* This using declaration is needed for the As<T>() extension method we use when listing items below. *@
@using Orchard.ContentManagement

<h2>@T("List of latest Person Lists")</h2>
<ol>
    @foreach (var item in (IEnumerable<Orchard.ContentManagement.ContentItem>)Model.LatestPersonLists)
    {
        <li>
            @(item.As<Orchard.Core.Title.Models.TitlePart>().Title) - 
            @Html.ItemEditLink(T("Edit").Text, item), @Html.ItemDisplayLink(T("Display").Text, item)
        </li>
    }
</ol>