@* What we need to do here is define an icon (by default font-awesome will work with the TheAdmin theme) and display
the text. *@

<span class="icon"><i class="fa fa-users" aria-hidden="true"></i></span><span class="title">@Model.Text</span>

@* NEXT STATION: Go back to Navigation/PersonsAdminMenu.cs where we left off. *@