@model ShapeViewModel<PersonPart>

<div><strong>@Model.Value.Name</strong></div>
<div>@T["Birth Date: {0}", Model.Value.BirthDateUtc?.ToShortDateString()]</div>
<div>@T["Handedness: {0}", Model.Value.Handedness]</div>