@* Note how the model is statically defined. *@
@model StaticallyTypedTestShapeViewModel

<div>
    @T["The statically typed model's values are: {0} and {1}", Model.SomeValue, Model.SomeOtherValue]
</div>

@* NEXT STATION: Controllers/DisplayManagementController and find the DisplayBook action. *@
