@* The "shapes" object is an IEnumerable<dynamic> so we just simply enumerate it and use the previously seen
    DisplayAsync helper to display these shapes. *@

@model IEnumerable<dynamic>
@using Microsoft.AspNetCore.Mvc.Localization

<h1>@T["People older than 30 years old"]</h1>

@* Notice how we use T.Plural() to display a different string based on the number of people. You could use the lazy
    "There are {0} person(s)." technique but that would not only be grammatically incorrect, it would also be lazy :). *@
<strong>@T.Plural(Model.Count(), "There's one person.", "There are {0} people.")</strong>
<ul>
    @foreach (var shape in Model)
    {
        <li>
            @await DisplayAsync(shape)
        </li>
    }
</ul>
