<form asp-action="UploadFileToMedia" asp-controller="FileManagement" asp-area="Lombiq.TrainingDemo" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">@T["Upload file"]</button>
</form>