@* The "shapes" object is an IEnumerable<dynamic> so we just simply enumerate it and use the previously seen
DisplayAsync helper to display these shapes. *@

@model IEnumerable<dynamic>

<h1>@T["People older then 30 years old"]</h1>
<ul>
    @foreach (var shape in Model)
    {
        <li>
            @await DisplayAsync(shape)
        </li>
    }
</ul>

@* END OF TRAINING SECTION: Content Item display management and queries *@

@* NEXT STATION: Fields/ColorField.cs *@